
h1.pt-0, .wrap.p-0{
	padding-top: 0 !important;
}




@media (min-width: 768px) {
	.hotel-table-desktop {
		display: block !important;
	}

	.hotel-table-mobile {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.hotel-table-desktop {
		display: none !important;
	}

	.hotel-table-mobile {
		display: block !important;
	}
}

#wpcontent{
	background-color: rgb(240, 231, 215) !important;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    width: 175px;
}
li.wp-menu-separator {
    display: none !important;
}
#adminmenu .wp-submenu{
	left: 175px;
}

.border-none{
	border-style: none !important;
}

.focus\:border-none:focus {
    border-style: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#wpbody-content{
	min-height: 100vh;
}

.max-w-full{
	max-width: 100% !important;
}

@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        position: relative;
        margin-left: 0;
        padding-left: 15px;
		padding-right: 15px;
    }
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    width: 210px;
}

#wpbody-content{
	background-color: rgb(240, 231, 215) !important;
}

input[type=checkbox], input[type=radio]{
	margin: 0rem .25rem 0 0;
}

.taxonomy-item.dragging { opacity: 0.5; background: #e0e7ff; }
.taxonomy-item.drag-over { border-color: #3b82f6; border-style: dashed; }

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
	background-color: #F0F0F0;
}

div#adminmenuwrap li a, #adminmenu div.wp-menu-image:before {
    color: #000000;
}

div#adminmenuwrap li a{
	padding-bottom: 5px !important;
	padding-top: 5px !important;
	border-bottom: 1px solid #E0E0E0;
}

body.wp-admin.folded #adminmenuwrap li a{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	border-bottom: none !important;
}

div#adminmenuwrap li a:hover {
	background-color: #000000;
}

div#adminmenuwrap li a:hover, div#adminmenuwrap li a:hover div.wp-menu-image:before{
	color: #FFFFFF;
}

#adminmenu a:focus, #adminmenu a:hover, .folded #adminmenu .wp-submenu-head:hover {
    box-shadow: inset 4px 0 0 0 #3582c4;
    transition: box-shadow .1s linear;
}
#adminmenu{
	margin-top: 0 !important;
}

li#wp-admin-bar-comments, li#wp-admin-bar-new-content, li#wp-admin-bar-updates, li#wp-admin-bar-wp-logo {
    display: none !important;
}

#wpadminbar {
    color: #000000;
    background: #ffffff;
}

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: #000000;
}

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:after, #wpadminbar .ab-item:before
 {
    color: #000000 !important;
}

#wpcontent, #wpfooter {
    margin-left: 210px;
}

#adminmenu .wp-submenu {
    left: 210px;
}

#adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a, #adminmenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a {
    color: #000000;
}

#adminmenu .wp-has-current-submenu .wp-submenu{
	background: #dddddd;
}

#adminmenu .wp-submenu li.current a{
	color:#000000;
}

/* Toggle Switch Styles for System Settings */
.toggle-switch-label {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.toggle-switch-input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;
	border-radius: 9999px;
	border: 2px solid;
	transition: all 0.3s ease;
	background-color: rgb(209 213 219);
	border-color: rgb(156 163 175);
	box-sizing: border-box;
}

.toggle-switch-off {
	background-color: rgb(209 213 219) !important;
	border-color: rgb(156 163 175) !important;
}

.toggle-switch-on {
	background-color: rgb(34 197 94) !important;
	border-color: rgb(22 163 74) !important;
}

.toggle-switch-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid rgb(156 163 175);
	border-radius: 50%;
	transition: all 0.3s ease;
	transform: translateX(0);
	box-sizing: border-box;
}

.toggle-switch-off .toggle-switch-slider {
	border-color: rgb(156 163 175) !important;
	transform: translateX(0) !important;
}

.toggle-switch-on .toggle-switch-slider {
	border-color: rgb(22 163 74) !important;
	transform: translateX(24px) !important;
}

/* Also handle checkbox checked state for CSS-only fallback */
.toggle-switch-input:checked + .toggle-switch {
	background-color: rgb(34 197 94) !important;
	border-color: rgb(22 163 74) !important;
}

.toggle-switch-input:checked + .toggle-switch .toggle-switch-slider {
	border-color: rgb(22 163 74) !important;
	transform: translateX(24px) !important;
}

.toggle-switch-input:not(:checked) + .toggle-switch {
	background-color: rgb(209 213 219) !important;
	border-color: rgb(156 163 175) !important;
}

.toggle-switch-input:not(:checked) + .toggle-switch .toggle-switch-slider {
	border-color: rgb(156 163 175) !important;
	transform: translateX(0) !important;
}

.bg-primary{
	background-color: #f0e7d7 !important;
}

.bg-secondary{
	background-color: rgb(61, 61, 68) !important;
}